@mixin btn--pill {
    border-radius: 30px !important;
    min-width: 144px;
    padding: 0 24px;
}

@mixin flex-vcenter {
    display: flex;
    align-items: center;
}

@mixin border-radius-_5r {
    border-radius: 0.5rem ;
}