// ------------ COLOR ------------------- //

$blue--xlight: #e4fbff;
$blue--light: #8cb4d2;
$blue--normal: #00b5e2;
$blue--bold: #0099c7;
$blue--xbold: #0075a3;

$blue2--light: #E9EEFB;
$blue2--normal: #5971A4;
$blue2--xbold: #1d3461;

$blue3--normal: #79ABD9;
$blue3--bold: #06b7d8;

$orange--xlight: #fff7e5;
$orange--light: #f0ac4c;
$orange--normal: #ffa100;
$orange--bold: #ff8528;

$yellow--normal: #e8c400;

$red--light: #FFECE6;
$red--normal: #FF753F;

$pink--normal: #F07F7F;

$purple--normal: #8c6fcc;

$white--normal: #ffffff;

$grey--light: #f5f7f8;
$grey--normal: #dde5ea;
$grey--bold: #abb4bd;

$green--light: #E7F6EA;
$green--normal: #5DBE6E;
$green--bold: #49af5b;
