.question {
    padding: 2.5rem 2.5rem;

    .btn-add-ans {
        color: $blue--xbold;
        background-color: $white--normal;
        font-size: bold;
    }

    .btn-delete {
        color: $grey--bold;
    }

    .question-input {
        padding: 0.5rem 1rem;
        line-height: 2rem;
    }

    .order,
    .checkbox {
        @include flex-vcenter;
        justify-content: center;
        border-radius: 50%;
    }

    .order {
        height: 2.25rem;
        flex: 0 0 2.25rem;
    }

    .order--rounded {
        background-color: $grey--normal;
    }

    .order--rounded2 {
        background-color: $white--normal;
    }

    .order--true {
        color: $white--normal;
        background-color: $green--normal;
    }

    .order--shadow {
        box-shadow: inset 0 0 0 2px $grey--normal;
    }

    .nowrap {
        flex-wrap: nowrap;
    }

    .image-field {
        background: $white--normal url("/assets/images/add-image.png") no-repeat center; 
        margin-top: 2rem;
        margin-left: 3rem;
        width: 25rem;
        height: 25rem;
        border-radius: .5rem;
        position: relative; 
        .image-delete {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .question-grid {
        display: grid;
        grid-auto-rows: minmax(3rem, auto) 1fr;
        -ms-grid-columns: minmax(1rem, 100%);
        grid-template-columns: minmax(1rem, 100%);
    }
    .question-fields {
        -ms-grid-columns: 3rem 1fr 3rem;
        grid-template-columns: 3rem 1fr 3rem;
    }

    @media (min-width: 1024px) {
        .question-grid {
            grid-column-gap: 1rem;
            -ms-grid-columns: 1fr minmax(1rem, 17.5rem);
            grid-template-columns: 1fr minmax(1rem, 17.5rem);
        }
        .image-field {
            margin: 0;
            width: 17.5rem;
            height: 17.5rem;
        }
        .button-field {
            margin-left: 2rem;
        }
    }
}
