.s-result-tab {
    table {
        margin: 0 auto;
    }
    table > tbody > tr > td {
        text-align: right;
    }
    table > tbody > tr > td:first-child {
        text-align: left;
    }
    margin-top: 50px;
    h2,
    .progress-container {
        margin-bottom: 50px;
    }
    .progress-container {
        .progress {
            height: 1.5rem;
        }
    }
}
