table.r-table {
    td {
        vertical-align: middle;
    }
    input[type="checkbox"] {
        width: 18px;
        height: 18px;
    }
    tr td:first-child {
        padding-left: 1rem;
    }
    thead tr th{
        font-size: 1rem;
        font-weight: normal;
    }

    button {
        font-size: 20px;
        margin: 0 auto;
    }
    .column-btn {
        width: 100px;
        text-align: center;
    }
    .column-btn--2 {
        width: 200px;
        text-align: center;
    }
}
